.concert-list {
  display: flex; 
  flex-direction: column;  
  margin-bottom: var(--content-gap);
}

.concert-list .concert-sublist {
  display: flex; 
  flex-direction: row;
  gap: 5px;
}

.concert-list .concert-sublist .concert-category {
  min-width: fit-content;
}

.letter-address, .signature {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--content-gap);
}

.italic, .signature-right { font-style: italic;
}

.date, .signature-right, .address-right {
  text-align: right;
}

.concert-list {
  display: flex; 
  flex-direction: column;  
  margin-bottom: var(--content-gap);
}

.concert-list .concert-sublist {
  display: flex; 
  flex-direction: row;
  gap: 5px;
}

.concert-list .concert-sublist .concert-category {
  min-width: fit-content;
}

.letter-address, .signature {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--content-gap);
}

.italic, .signature-right {
  font-style: italic;
}

.date, .signature-right, .address-right {
  text-align: right;
}

.letter-49-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: var(--content-gap);
}

.letter-49-container .ssk, 
.letter-49-container .avtorskikh-prav, 
.letter-49-container .total,
.letter-49-container .sum {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
}

.letter-49-container .payment-origin {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: -webkit-fill-available;
  justify-content: space-between;
}

.letter-49-container .payment-explanation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.ssk .lines {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.ssk .lines .line {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.ssk .curly-brace {
  transform: scale(2, 4) translateY(-4px);
  transform-origin: top;
}

.avtorskikh-prav .payment-explanation {
  min-width: fit-content;
}

.total .payment-explanation {
  min-width: 40%;
}

.total .payment-explanation hr {
  width: 100%;
}

.letter-49-container-2 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: var(--content-gap);
}

.quote {
  display: flex;
  flex-direction: column;
}

.toggle-quote-btn {
  align-self: flex-end;
}
